<!doctype html>
<title>Регистрация</title>
<h2>Регистрация</h2>
<form method="post">
  <input type="text" name="username" placeholder="Потребителско име" required><br>
  <input type="password" name="password" placeholder="Парола" required><br>
  <select name="role">
    <option value="student" selected>Ученик</option>
    <option value="teacher">Учител</option>
  </select><br>
  <button type="submit">Регистрация</button>
</form>
<p>Имаш акаунт? <a href="{{ url_for('login') }}">Вход</a></p>
{% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
